@font-face{
    font-family: Segoe UI Normal;
    src: url(../fonts/segoeuisl.ttf);
}

@font-face{
    font-family: Segoe UI Light;
    src: url(../fonts/segoeuil.ttf);
}

@font-face{
    font-family: Segoe UI Bold;
    src: url(../fonts/seguisb.ttf);
}

body{
    height:100%;
    position: relative;
}

#timeline{
    width:18%;
    max-height:1014px;
    position: fixed;
    background-color:#110B1A;
}

#case-history{
    width:57%;
    height:auto;
    margin-left:18%;
}

#case-history ul{
    list-style-type: none;
}

#case-history ul li.history-entry{
    padding:30px 0px;
}

.entry-header{
    margin-bottom:20px;
    margin-left:-20px;
}

.entry-header > div{
    min-height:24px;
    background-color: #744DA9
}

.history-icon{
    background-color: #fff;
    border:2px solid #744DA9;
    width:39px;
    height:37px;
    text-align: center;
    padding: 2px 3px 3px 4px;
    position: absolute;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    top:-6px;
}

.history-icon img{
    width:20px;
    height:auto;
}

.history-date-client{
    padding:1px 15px;
    font-size:16px;
    font-family: Segoe UI Bold;
    -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
}

.history-notes-row,.history-action-row,.history-solution-row{
    margin-bottom:15px;
    color:#000;
}

.history-log-meta-data{
    cursor: pointer;
    text-align: right;
    line-height:22px;
}

.entry-history{
    margin-top:-20px;
    background-color: #744DA9;
    padding:20px 15px;
}

.timeline-content{
    padding:30px 30px 20px 10px;
}

.timeline-content ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    border-right:4px solid #ccc;
}

.timeline-content ul li{
    display:block;
    list-style-type: none;
    text-align: right;
    flex: 1;
    margin-right:-27px;
}

.timeline-content ul li.active{
    font-size:21px;
}

.timeline-content ul li svg{
    fill:white;
    stroke: #ccc;
    transform: scale(.75);
    -moz-transform: scale(.75);
    line-height: 24px;
    vertical-align: bottom;
}

.timeline-content ul li.active svg{
    fill:#744DA9;
    stroke: white;
    transform: scale(1);
    -moz-transform: scale(1);
    line-height: 36px;
    vertical-align: bottom;
}

.case-history-content{
    padding:0px 40px 20px 20px;
    background-color: rgba(255,255,255,.7);
    background-attachment: fixed;
}

.case-history-content:before{
    background-image: url(../assets/cabin.jpg);
    background-attachment: fixed;
    content: '';
    position: absolute;
    z-index: -1;
    width:100%;
    height:485%;
    filter: blur(10px);
    -webkit-filter: blur(20px);
    -moz-filter: blur(20px);
    -o-filter: blur(20px);
    -ms-filter: blur(20px);
}

.entry-history{
    position: relative;
    top:+100px;
    opacity:0;
}

.entry-history-data{
    margin-bottom:20px;
}

.entry-history-time{
    padding-left:10px;
}

.data-label{
    padding-right:0px;
}

.timeline-content ul li a{
    padding:0px 10px;
    display:block;
    color:#fff;
    line-height:30px;
}

.timeline-content ul li a:first-child{
    margin-top:-20px;
}

.timeline-content ul li a:hover{
    background-color:transparent;
}

.case-history-data li{
    list-style-type: none;
}

.case-history-data > li{
    margin-bottom:60px;
}

@media (max-width: 960px) {

#timeline{
    width:25%;
    margin-top:300px;
}

#case-history{
    width:75%;
    margin-left:25%;
    margin-top:300px;
}

}