@font-face{
    font-family: Segoe UI Normal;
    src: url(fonts/segoeuisl.ttf);
}

@font-face{
    font-family: Segoe UI Light;
    src: url(fonts/segoeuil.ttf);
}

@font-face{
    font-family: Segoe UI Bold;
    src: url(fonts/seguisb.ttf);
}

@mixin easing-curve($curve-spec){
-webkit-transition: $curve-spec;
-moz-transition: $curve-spec;
-o-transition: $curve-spec;
transition: $curve-spec;
-webkit-transition-timing-function: $curve-spec;
-moz-transition-timing-function: $curve-spec;
-o-transition-timing-function: $curve-spec;
transition-timing-function: $curve-spec;
}

/*
    @include easing-curve (all 500ms cubic-bezier(0.165, 0.940, 0.260, 0.995));
*/

$purple: rgba(116,77,169,1);
$black: rgba(0,0,0,1);
$gray: rgba(74,74,74,1);
$white: rgba(255,255,255,1);
$blue: rgba(74,144,226,1);
$fontGray: rgba(204,204,204,1);

$font-light: Segoe UI Light;
$font-normal: Segoe UI Normal;
$font-bold: Segoe UI Bold;

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9{
    float:left;
}

ul,li,ol{
    padding-left:0px;
}

body{
    background-attachment: fixed;
    color:$white;
    font-family: $font-normal;
    font-size:13px;
}

.blue-overlay{
    background-color:$black;
    opacity:.2;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 1;
}

.purple-overlay{
    background-color:$purple;
    opacity:.2;
    width:100%;
    height:100%;
    position: fixed;
    z-index: 2;
}

main{
    position: relative;
    z-index:5;
}

header{
    background-color:$purple;
    padding:10px 0px;
    position: fixed;
    width:100%;
    z-index: 100;
}

header span{
    display:inline-block;
}

.case-header-details{
    border-left:1px solid $fontGray;
}

.data-label{
    color: $fontGray;
    padding-right:10px;
}

.h-aligned{
    margin-right:35px;
}

.stacked-bottom{
    margin-top:10px;
}

.btn-primary{
    background-color:transparent;
    border:2px solid $white;
    padding:5px 25px;
}

.btn-primary:hover{
    background-color:rgba(255,255,255,.1);
    border:2px solid $white;
    padding:5px 25px;
}

.main-content{
    padding-top:66px;
}

.panel-resize-duration{
      -webkit-transition-duration: 0.7s;
     -moz-transition-duration: 0.7s;
      -ms-transition-duration: 0.7s;
       -o-transition-duration: 0.7s;
          transition-duration: 0.7s;
}

.masonry{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    width:75%;
    overflow-x: visible;
    padding:5px;
}

.masonry-panel {
    position: relative;
    top:+100px;
    opacity:0;
    overflow: hidden;
    width: 50%;
    padding:5px;
}
.panel-transition{
       -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

.masonry-panel:nth-child(odd) {
    order: 1;
}

.masonry-panel:nth-child(even) {
    order: 2;
}

#notes-column{
    position: fixed;
    right:0;
    width:25%;
    background-color: $purple;
    z-index:100;
    padding:15px;
}

.notes-input{
    -moz-appearance: textfield-multiline;
    -webkit-appearance: textarea;
    height: 85%;
    box-sizing: border-box;
    overflow: auto;
    padding: 10px;
    width: 100%;
    background-color: rgba(0,0,0,.5);
}

.tile-content{
    padding:15px 20px;
    background-color:$black;
    box-sizing: border-box;
}

.tile-title{
    display:block;
    font-family: Segoe UI Light;
    font-size: 20px;
    margin-bottom:20px;
}

.column-header{
    display:block;
    padding-bottom:5px;
    border-bottom:1px solid $fontGray;
    font-size: 20px;
}

.column-data{
    display:block;
    margin-top:10px;
}

#profile-tile{
    background-color:transparent;
}

.profile{
    text-align: center;
    font-family: $font-bold;
}

.profile img{
    width:75px;
    height:auto;
    margin-right:15px;
}

.profile-name{
    display:inline-block;
    line-height: 75px;
    vertical-align: middle;
    font-size: 36px;
}
.tile-icon{
    margin-right:5px;
}

#client-dash-alerts .col-xs-4{
    margin-bottom:20px;
}

#services-tile{
    display:inline-block;
}

#services-row .col-xs-4{
    min-height:75px;
}

.service-icon{
    display:inline-block;
    vertical-align: top;
    margin-right:5px;
}

.service-icon, .service-info{
    display:inline-block;
}

.service-info{
    line-height:13px;
}

.service-name{
    display:inline-block;
    padding-right:5px;
    margin-right:5px;
    border-right:1px solid $white;
}

.services-sub-state{
    line-height: 13px;
    vertical-align: middle;
    font-size:9px;
    text-transform: uppercase;
}

.service-data{
    color:$fontGray;
    font-size: 9px;
}

.tile-table{
    width:100%;
}

.tile-table thead{
    border-bottom: 1px solid $fontGray;
    line-height: 20px;
}

.tile-table thead th{
    padding:0 15px;
    font-size:11px;
    color: $fontGray;
}

.tile-table tbody{
    font-size:13px;
}

.tile-table tbody td{
    font-family: $font-light;
    padding:10px 15px;
}

.dropdown-arrow{
    display:inline-block;
    padding:5px 10px;
    vertical-align: top;
}

.parent-row{
    background-color: $gray;
}

.multi-data-column span{
    display:inline-block;
}

.order-item{
    margin-right:20px;
}

.order-item-quant{
    margin-right:20px;
}

@media (max-width: 960px) {

.masonry{
    display: block;
    flex-direction: row;
    flex-wrap: nowrap;
    width:100%;
    overflow-x: visible;
    padding:5px;
    padding-top:300px;
      -webkit-transition-property: height, width;
     -moz-transition-property: height, width;
      -ms-transition-property: height, width;
       -o-transition-property: height, width;
          transition-property: height, width;
}

.masonry .masonry-panel {
    overflow: hidden;
    width: 100%;
    padding:5px;
    -webkit-transition-property: left, right, top;
     -moz-transition-property: left, right, top;
      -ms-transition-property: left, right, top;
       -o-transition-property: left, right, top;
          transition-property: left, right, top;
}

#notes-column{
    position: fixed;
    right:0;
    width:100%;
    height:300px;
    background-color: $purple;
}

}